.logo{
    display: flex;
    height: 80%;
    width : 10%;
    justify-content: center;
    margin: 1em 1em 1em 1.5em;
}


.search{
    display: flex;
    flex-direction: row;
    height: 60%;
    width : 100%;
    justify-content: center;
    margin-top: 1.5em;
}

.search_header{
    display: flex;
    flex-direction: row ; 
}

.Déconnexion{
    display: flex;
    flex-direction: column ;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    height: 50%;
    width : 10%;
}
